@import "tailwindcss";
@config "../tailwind.config.cjs";

a {
  @apply text-blue-600 hover:text-blue-800 hover:underline active:text-blue-800;
}

body {
  /**
  From https://dev.to/oskarlarsson/designing-native-like-progressive-web-apps-for-ios-510o
  Also affects Chrome, despite the -webkit prefix
  */
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  /**
  Disable pinch-to-zoom on the interface, only the map is zoomable. This is in line with other maps apps.
  **/
  touch-action: pan-x pan-y;

  /**
  Disable pull-to-refresh as maps apps generally don't have that feature (and the data updates rarely)
  From https://www.matuzo.at/blog/2022/100daysof-day53/
  */
  overscroll-behavior: none;
}
